body{
    display: flex; 
    flex-direction: row;
    gap: 44px;
}

.flex1{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
}

.flex1 div{
    float: left;
}
    

.h1 {
  font-weight: 900px;
 }

 .container-sidebar {
    display: flex;
    flex-direction: column;
    padding: 43px 62px 900px 62px;
    color: white;
 }

 .container-kontaktSchulenSkills {
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(54, 65, 86, 1);
 }
 .container-email{
    background-color: rgb(62, 72, 92);
 }

 .container-schulen {
    color: white;
    
 }
   
.container-links{ 
    padding-left: 100px;
    padding-right: 50px;               
}
 
.container-rechts{ 
    padding-right: 150px;

}
        
.schulen {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 43px 62px 900px 62px;
 
}

.container4{
padding: 15px 30px 15px 30px;
gap: 10px;
opacity: 0px;
background: #364156;
color: white;
text-align: center;
}

.color-weiss {
    color: white;
}
a{
    color: white;
}
